@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: center;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

.form-control {
  border-radius: 100px;
}

.btn-success {
  background-color: #3b7d4a im !important;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #4daf64;
}

img.track {
  border: 3px solid #8a8a8a;
}
.gg{
  width: 50%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 2rem;
}
.gg2{
  padding-top: .7rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.gg3{
  position: relative;
  right: 12rem;
  bottom: .3rem;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 0;
  outline: none;
}
.gg4{
  position: relative;
  right: 13rem;
  bottom: .9rem;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 0;
  outline: none;
}
.gg3:hover, .gg4:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}